:host ::ng-deep .ng2-pdf-viewer-container {
  height: 100% !important;
  width: 100% !important;
  overflow: auto;
 
}

.pdf-container {
  margin: 0 auto; 
  position: relative;
}

.pdf-division {
  display: inline-block; 
  vertical-align: middle
}

.previous-next-button {
  cursor: pointer;
}

.close-button {
  font-size: 80px;
    position: absolute;
    top: -10px;
    color: black;
    cursor: pointer;
    left: 950px;
    z-index: 10;
    padding: 10px;
}