.container {
    text-align: center;
}

.title {
    font-size: 1vw;
    font-family: roboto !important;
    color: white;
}

.overlay {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 1;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
  margin: -15px 0 0 -15px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.overlay[hidden] {
  display: none;
}

.pdfLabel {
  vertical-align: middle;
}

.pdfButton {
    height: 50px;
    width: 300px;
    background-color: white;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 2em;
    font-family: roboto;
    cursor: pointer;
    border-radius: 10px;
}